@using Web.Components.Pages
@using Web.Components.Pages.Details
@{
	ViewData["Title"] = "Product Details";
}
@model Models.ViewModels.ProductDetailsViewModel;

<div class="model-details-container wrap-width">
	@(Html.Kendo().Breadcrumb()
		.Name("breadcrumb")
		.Navigational(true)
		.Items(items =>
		{
			items.Add()
			.Type(BreadcrumbItemType.RootItem)
			.Href(@Url.Action("Index", "Home"))
			.ShowText(false)
			.Icon("home")
			.ShowIcon(true);
			items.Add()
			.Type(BreadcrumbItemType.Item)
			.Href(@Url.Action("GetCategory", "Home", new { categoryName = Model.Category }))
			.Text(Model.Category)
			.ShowText(true);
			items.Add()
			.Type(BreadcrumbItemType.Item)
			.Href(@Url.Action("Category", "Products", new { subCategory = Model.SubCategory }))
			.Text(Model.SubCategory)
			.ShowText(true);
			items.Add()
			.Type(BreadcrumbItemType.Item)
			.Href(@Url.Action("Details", "Products", new { productId = Model.Id }))
			.Text(Model.Name)
			.ShowText(true);
		})
	)

	<component type="typeof(ModelDetails)" param-Model="Model" render-mode="ServerPrerendered" />

	<hr class="splitter2">

	@{
		if (Model.ModelId != null)
		{
			<div class="similar-products">
				<div class="similar-products-title">Similar Products</div>
					@(Html.Kendo().ListView<Models.ViewModels.ProductAllViewModel>()
					.Name("similarProductsListView")
					.TagName("div")
					.ClientTemplateId("product-template")
					.Navigatable()
					.Bordered(false)
					.DataSource(dataSource => dataSource
						.Ajax()
						.ServerOperation(true)
						.Read(r => r.Action("ReadSimilarProducts", "Products", new { productId = Model.Id, subCategoryId = @Model.SubCategoryId, count = 4 }).Type(HttpVerbs.Get))
					)
					.Events(e => e.DataBound("distinguishFavorites"))
					)
			</div>
		}
	}
</div>

<script type="text/html" id="product-template">
	@await Html.PartialAsync("_TileProductCard.cshtml")
</script>

<script>
	$(document).ready(function () {
		var productId = "@Model.Id";
		var modelId = "@Model.ModelId";

		$.get('@Url.Action("GetAvailableColors","Products")?productId=' + productId, function (data) {
			if(data.length > 0) {
				$("#colorPicker").kendoRadioGroup({
					items: data,

					layout: "horizontal",
					value: "@Model.Color",
					change: function () { selectAlternateProductVersion(modelId); }
				});
			}
		});

		distinguishFavorites();
	});
</script>